/** CSS STYLE **/
.cl-white {
  color: white;
}

.cl-tr-white {
  color: #d7ccc0;
}

.cl-light {
  color: #f5f4f0;
}

.cl-orange {
  color: #fe8a02;
}

.cl-dark {
  color: #2a2626;
}

.cl-tr-dark {
  color: #908d8b;
}

.cl-brown {
  color: #b09a81;
}

.cl-blue {
  color: #1085c5;
}

body {
  margin: 0;

  color: #2a2626;
  font: 16px/1.6em 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;

  font-weight: normal;
  font-family: 'Neucha', cursive;
  line-height: 1.2em;
}

h1 {
  position: relative;

  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

header,
section {
  position: relative;

  text-align: center;
}

.light-background {
  overflow: hidden;

  background-color: #f5f4f0;
}

.container {
  position: relative;

  max-width: 1110px;
  margin: auto;
  padding: 100px 0;
}

.text-align-left {
  text-align: left;
}

.light-background::before {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url(../../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 10%;

  content: " ";
}

.main-image {
  position: absolute;
  top: 55px;
  right: -270px;

  height: 525px;
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.columns-2 p {
  margin-top: 0;
}

.left-column,
.right-column {
  break-inside: avoid;
}

.description {
  margin-top: 185px;
}

.btn {
  padding: 12px 24px;

  font-weight: bolder;
  text-decoration: none;

  background-color: #fe8a02;
}

.mb-51 {
  margin-bottom: 51px;
}

.mb-30 {
  margin-bottom: 30px;
}

.video {
  position: relative;
  z-index: 1;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.dark-background {
  background-color: #42413c;
}

.intro {
  margin-bottom: -200px;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 100px;
}

.navigation h2 {
  font-size: 52px;
}

.navigation .card {
  box-sizing: border-box;
  width: 350px;
  padding: 24px;

  background-color: #f5f4f0;
}

.mt-20 {
  margin-top: 20px;
}

.navigation .title-card {
  padding: 0;

  background-color: #42413c;
}

.navigation .number {
  margin: 0 0 40px 0;

  font: 64px/1em "Neucha", cursive;
}

.navigation h3 {
  color: #fe8a02;
}
